@font-face {
  font-family: 'JapFont';
  src: url('/src/static/font/midorima-personal-use.regular.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}
.outfit-font {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}


.App {
  text-align: center;
  font-family: 'Outfit';
}

